<div class="body px-5">
    <div class="row">
        <div class="col-10 mt-5 contenedor">
            <app-polar></app-polar>

        </div>

        <div class="col-10 mt-5 contenedor">
            <app-dona></app-dona>
        </div>

        <div class="col-10 mt-5 contenedor">
            <app-barras></app-barras>
        </div>
        <!--
        <div class="col-6 mt-5 contenedor">
            
            <app-scatter></app-scatter>
        </div>
        <div class="col-12 mt-5 contenedor">
            <app-lineal></app-lineal> 
        
        </div>
        -->
    </div>
</div>
