<app-header></app-header>
<div class="container mt-4 ">
    <div class="row">
        <div routerLink="#" class="col-12" style="cursor: pointer;">
            <div mat-raised-button class="float-left" matTooltip="Regresar" aria-label="Pulsa el boton para cancelar"
                style="width: 50px ; height: 50px ; background-color: black; border-radius: 100% ; margin-left: auto;">
                <svg style="color:white" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 22 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
            </div>
        </div>
    </div>

    <div class="row">
        <div *ngFor="let item of producto" class="col-4 mt-4">
            <mat-card class="lista-de-deseos">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{item?.nombre}}</mat-card-title>
                    <svg style="cursor: pointer;" (click)="eliminarFavorito(item.idProducto)"
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-trash3" viewBox="0 0 16 16">
                        <path
                            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5ZM11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H2.506a.58.58 0 0 0-.01 0H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1h-.995a.59.59 0 0 0-.01 0H11Zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5h9.916Zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47ZM8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5Z" />
                    </svg>
                </mat-card-header>
                <img height="155" mat-card-image src="{{item?.imagen}}" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p class="ubicacion">
                        Ubicación: {{item?.ubicacion}}
                    </p>
                    <p class="precio">
                        Precio: {{formatoDinero(item?.costo)}}
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
