<app-header></app-header>
<div class="container mt-5 ">
  <div class="row">
    <div (click)="mostrarCategoria()" class="col-12" style="cursor: pointer;">
      <div mat-raised-button class="float-left" matTooltip="Regresar" aria-label="Pulsa el boton para cancelar"
        style="width: 50px ; height: 50px ; background-color: black; border-radius: 100% ; margin-left: auto;">
        <svg style="color:white" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
          stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
      </div>
    </div>
  </div>
  <div class="row ">
    <div class="col-lg-7 offset-lg-2">
      <div class="card mb-5">
        <div class="card-body text-center">
          <mat-card class="detalle-de-producto ">
            <div class="lg-4-mg-5 ">
              <mat-card-header>
                <div mat-card-avatar class="example-image"></div>
                <mat-card-title>{{producto?.nombre}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <app-carousel [images]="imagenes"></app-carousel>
                <p class="descripcion mt-3">
                  Descripción: {{producto?.descripcion}}
                </p>
                <p class="estado">
                  Estado: {{producto?.estado}}
                </p>
                <p class="ubicacion">
                  Ubicación: {{producto?.ubicacion}}
                </p>
                <p class="precio">
                  Precio: {{formatoDinero(producto?.costo)}}
                </p>
                <p>
                  Vendedor: {{usuarioVendedor.nombre}}
                </p>
              </mat-card-content>
            </div>
          </mat-card>
          <ul *ngIf="usuarioActual && !comprobarEsVendedor(producto) && !comprobarEsAdmin()"
            class="list-unstyled d-flex justify-content-between">
            <li>
              

              <i style="cursor: pointer;" *ngFor="let estrella of estrellas; index as i"
                (click)="calificarProducto(i+1)" [class]="estrella"></i>


            </li>
          </ul>
          <button (click)="mensaje(producto.idCliente)" class="float-start" style="background-color: rgb(255, 123, 0);" mat-button>Consultar</button>
          
          <button type="button" class=" btn btn-danger btn-sm justify-end float-end" (click)="denuncia()"
            mat-stroked-button color="danger">Denunciar</button>
        </div>
      </div>
    </div>
  </div>
</div>