
 <!--
<div id="template-mo-jassa-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#template-mo-jassa-hero-carousel" data-bs-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid"
                            src="../../../../assets/new-walk-1064-3320811-1-zoom-removebg-preview.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left align-self-center">
                            <h1 class="h1 text-success"><b>Zapatos</b> </h1>
                            <h3 class="h2">Tenis Deportivos para Dama</h3>
                            <p>
                                Zapatilla Rosado New Walk
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../../assets/91Xpc1gOuQL._AC_UL1500_-removebg-preview.png" alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Futuros Padres</h1>
                            <h3 class="h2">Body de manga corta para bebés</h3>
                            <p>
                                Seis mamelucos de manga corta de algodón suave para bebé, con patrones, apliques y
                                rayas.
                                100% algodón
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="container">
                <div class="row p-5">
                    <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                        <img class="img-fluid" src="../../../../assets/619YBKQb+KL._AC_SL1500_-removebg-preview.png"
                            alt="">
                    </div>
                    <div class="col-lg-6 mb-0 d-flex align-items-center">
                        <div class="text-align-left">
                            <h1 class="h1">Electrónica</h1>
                            <h3 class="h2">Anillo de Luz con trípode </h3>
                            <p>
                                Anillo de luz de 12 pulgadas con trípode,
                                anillo de luz para selfie con soporte de trípode de 62 pulgadas,
                                anillo de luz para grabación de video y transmisión en vivo, compatible con teléfonos,
                                cámaras y cámaras web
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-jassa-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-jassa-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
  Fin del Banner -->
  
  
  <!-- Inician categrías
  <section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">Más Vendidos</h1>
            <p>
              Los productos más populares
              del momento, haz click para ver más
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="../../../../assets/reloj.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="text-center mt-3 mb-3">Reloj</h2>
            <p class="text-center"><a class="btn btn-success">Ver más</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="../../../../assets/tenis.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Zapatos</h2>
            <p class="text-center"><a class="btn btn-success">Ver más</a></p>
        </div>
        <div class="col-12 col-md-4 p-5 mt-3">
            <a href="#"><img src="../../../../assets/lentes de sol.jpg" class="rounded-circle img-fluid border"></a>
            <h2 class="h5 text-center mt-3 mb-3">Accesorios</h2>
            <p class="text-center"><a class="btn btn-success">Ver más</a></p>
        </div>
    </div>
  </section>
  
  
  
   Start Featured Product -->
  <section class="bg-light landing">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Productos Destacados</h1>
                <p>
                 Calificaciones y comentarios sobre nuestros productos.
                </p>
            </div>
        </div>
        <!--
        <div class="row">
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="../../../../assets/linterna.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">L.240.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Linterna</a>
                        <p class="card-text">
                            Potente linterna de mano con 4 modos de luz, totalmente recargable; la batería incluida permite
                            hasta 20 horas de funcionamiento entre cargas.
                        </p>
                        <p class="text-muted">Reviews (24)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="../../../../assets/smart watch.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                                <i class="text-muted fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">L. 3880.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Smart Watch</a>
                        <p class="card-text">
                          Reloj inteligente con pantalla táctil de acero inoxidable con altavoz, frecuencia cardíaca, notificaciones de smartphones
                        </p>
                        <p class="text-muted">Reviews (15)</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-4">
                <div class="card h-100">
                    <a href="#">
                        <img src="../../../../assets/camara.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">
                        <ul class="list-unstyled d-flex justify-content-between">
                            <li>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                                <i class="text-warning fa fa-star"></i>
                            </li>
                            <li class="text-muted text-right">L 3600.00</li>
                        </ul>
                        <a href="#" class="h2 text-decoration-none text-dark">Polaroid One Step</a>
                        <p class="card-text">
                          Cámara de pelicula instántanea conectada por Bluetooth
                        </p>
                        <p class="text-muted">Reviews (74)</p>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="row">
            <!--<mat-card class="obtener-anuncios" *ngFor="let item of producto">-->
             <div *ngFor =" let producto of productos" class="col-4 mt-4">
                <div class="container mt-5 ">
                    <div class="col-lg-7 offset-lg-2">
                        <div class="card-body text-align-left">
                            <mat-card class="obtener-anuncios ">
                                <div class="lg-4-mg-5 ">
                                    <mat-card-header>
                                        <div mat-card-avatar class="example-image"></div>
                                        <mat-card-title>{{producto?.nombre}}</mat-card-title>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <img height="200" mat-card-image src="{{producto?.imagen}}" alt="Photo of a Shiba Inu">
                                    
                                        <!--<app-carousel [images]="imagenes"></app-carousel>-->
                                        <p class="descripcion mt-3">
                                            Descripción: {{producto?.descripcion}}
                                        </p>
                                        <p class="costo">
                                            costo: {{producto?.costo}}
                                        </p>
                                        
                                    </mat-card-content>
                                </div>
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

